{% load static %}

body {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 282px;
    gap: 10px;

    position: relative;
    width: 1279px;
}

div#flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 60px;
    gap: 20px;

    width: 1000px;

    background: #f0ffdc;
    border: 2px solid #000000;
}

div#flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 880px;
    height: 76px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

div#flex-1 a.navigation {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;

    /* Inside auto layout */

    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

div#flex-1 a.navigation:hover {
    color: #7000ff;
}

div#flex-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 20px;

    width: 880px;
    height: 695px;

    border: 1px solid #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

div#flex-2 img {
    max-width: 150px;
    max-height: 150px;
    margin-top: 250px;
    border: 0.1px solid slategray;
}

div#flex-2 div#product_info {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

div#flex-2 div#product_info span {
    display: block;
    margin: 12px 0;
}

div#flex-2 ul#product_properties {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

div#flex-2 div#links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

div#flex-2 div#links a {
    color: #000000;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

div#flex-2 div#links div#return-links {
    text-align: center;
    margin-bottom: 200px;
}

div#flex-2 div#links div#return-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

div#flex-2 div#links div#return-links ul li {
    margin-right: 10px;
}
